@model WhiteCloudHomestayManagementSystem.Models.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminNavbar.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfAdults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfAdults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfChild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfChild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialRequests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialRequests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Homestay.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homestay.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationStatus.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationStatus.StatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
