@using PagedList.Mvc;
@using PagedList
@model IPagedList<WhiteCloudHomestayManagementSystem.Models.Booking>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @using (Html.BeginForm("BookingList", "Receptionist", FormMethod.Get))
    {
        <p>
            Search by name: @Html.TextBox("searchString") <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Check-In Date", "BookingList", new { sortOrder = ViewBag.CheckInSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Check-Out Date", "BookingList", new { sortOrder = ViewBag.CheckOutSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Status", "BookingList", new { sortOrder = ViewBag.StatusSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Customer.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Homestay.Name)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Homestay.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookingID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookingID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookingID })
                </td>
            </tr>
        }
    </table>
    <div class="pagination-container">
        @Html.PagedListPager(Model, page => Url.Action("BookingList", new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter }))
    </div>
</div>
