@model IEnumerable<WhiteCloudHomestayManagementSystem.Models.Invoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Receptionist/Views/Shared/_ReceptionistNavbar.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomestayCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surcharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.SpecialRequests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceStatus.StatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOutDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomestayCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surcharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation.SpecialRequests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceStatus.StatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceId })
        </td>
    </tr>
}

</table>
