@model PagedList.IPagedList<WhiteCloudHomestayManagementSystem.Models.Homestay>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Homestay Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminNavbar.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Homestays", FormMethod.Get))
{
    <p>
        Find by name or address: @Html.TextBox("searchString")
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().HomestayStatus.StatusName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomestayStatus.StatusName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HomestayId }) |
                @Html.ActionLink("Details", "Details", new { id = item.HomestayId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HomestayId })
            </td>
        </tr>
    }

</table>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = Request.QueryString["searchString"] }))
</div>
