@model PagedList.IPagedList<WhiteCloudHomestayManagementSystem.Models.Reservation>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get" action="@Url.Action("Index")">
    <p>
        Find by name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
</form>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No reservations available.
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Check In Date", "Index", new { sortOrder = ViewBag.CheckInDateSortParm })
            </th>
            <th>
                @Html.ActionLink("Check Out Date", "Index", new { sortOrder = ViewBag.CheckOutDateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NumOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NumOfChild)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SpecialRequests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Customer.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Employee.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Homestay.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ReservationStatus.StatusName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfChild)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialRequests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Homestay.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationStatus.StatusName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReservationId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId }) |
                    @Html.ActionLink("ChangeStatus", "ChangeStatus", new { id = item.ReservationId }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </table>

    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
}
