@model WhiteCloudHomestayManagementSystem.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="card mb-4">
    <div class="card-header">
        <h4>User Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h4>Authentication Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EmailConfirmed)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SecurityStamp)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.SecurityStamp)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TwoFactorEnabled)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LockoutEnd)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LockoutEnd)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LockoutEnabled)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AccessFailedCount)
            </dd>
        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
